<div class="span6">
  <h1>Welcome to {{ title }}!</h1>
  <form>
    <select (change)=onChange($event.target.value)>
      <option [value]='album.id' *ngFor="let album of albums"> {{ album.title }}</option>
    </select>
    <br>
    Titolo:
    <input type="text" #t/>
    <br>
    Durata:
    <input type="text" #l/>
    <br>
    Data Pubblicazione:
    <input type="date" #d/>
    <br>
    <button (click)='onClick(t,d,l)'>Invia</button>
  </form>
  <br>
  <hr>
  <br>
  <div *ngIf='isViewable'>
    <app-song-list *ngFor='let sng of songList' [song]='sng'></app-song-list>
  </div>
</div>
<br>
<br>
<button (click)='toggle()'>Hide/Show</button>
<br>
<br>
<hr>
<br>
<br>
<app-dettagli-album [value]='selectedAlbum'></app-dettagli-album>
<br>
<br>
<hr>
<br>
<br>


<ul>
  <li *ngFor='let song of songList'>
    {{ song.album.title }} : {{ song | json }}
  </li>
</ul>

{{ songList | json}}