<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1>Driving</h1>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        Tipo:
        <input type="text" class="form-control" [formControl]="myForm.controls['type']"><br>
        <div *ngIf="!myForm.controls['type'].valid" class="alert alert-danger">Questo tipo non è valido</div>
        <div *ngIf="myForm.controls['type'].hasError('required')" class="alert alert-danger">Il tipo è richiesto</div>
        <br>
        Descrizione:
        <input type="text" class="form-control" [formControl]="myForm.controls['descr']"><br>
        <div *ngIf="!myForm.controls['descr'].valid" class="alert alert-danger">Questa descrizione non è valida</div>
        <div *ngIf="myForm.controls['descr'].hasError('required')" class="alert alert-danger">La descrizione è richiesta</div>
        <br>
        Tariffa:
        <input type="text" class="form-control" [formControl]="myForm.controls['price']"><br>
        <div *ngIf="!myForm.controls['price'].valid" class="alert alert-danger">Questa tariffa non è valida</div>
        <div *ngIf="myForm.controls['price'].hasError('required')" class="alert alert-danger">La tariffa è richiesta</div>
        <br>
         Valutazione Media:
        <input type="number" class="form-control" [formControl]="myForm.controls['val']"><br>
        <div *ngIf="!myForm.controls['val'].valid" class="alert alert-danger">Questa valutazione non è valida</div>
        <div *ngIf="myForm.controls['val'].hasError('required')" class="alert alert-danger">La valutazione è richiesta</div>       
       
        <div *ngIf="!myForm.valid" class="alert alert-danger">Il form non è valido</div>
        <button class="btn btn-success btn-block" type="submit">Aggiungi</button>
      </form>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <app-driving-list [mezzi]="vehicles"></app-driving-list>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>