<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1>Vegetables</h1>
      <form>
          Nome:
          <input type="text" #n/><br>
          <br>
          Descrizione:
          <input type="text" #d/><br>
          <br>
          Prezzo:
          <input type="text" #p/><br>
          <br>
        <button class="btn btn-success btn-block" (click)='onClick(n,d,p)'>Aggiungi</button>
      </form>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <app-vegetables-list [verdure]="vegs"></app-vegetables-list>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
