<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1>Vegetables</h1>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        Nome:
        <input type="text" class="form-control" [formControl]="myForm.controls['name']"><br>
        <div *ngIf="!myForm.controls['name'].valid" class="alert alert-danger">Questo nome non è valido</div>
        <div *ngIf="myForm.controls['name'].hasError('required')" class="alert alert-danger">Il nome è richiesto</div>
        <br>
        Descrizione:
        <input type="text" class="form-control" [formControl]="myForm.controls['descr']"><br>
        <div *ngIf="!myForm.controls['descr'].valid" class="alert alert-danger">Questa descrizione non è valida</div>
        <div *ngIf="myForm.controls['descr'].hasError('required')" class="alert alert-danger">La descrizione è richiesta</div>
        <br>
        Prezzo:
        <input type="text" class="form-control" [formControl]="myForm.controls['price']"><br>
        <div *ngIf="!myForm.controls['price'].valid" class="alert alert-danger">Questo prezzo non è valido</div>
        <div *ngIf="myForm.controls['price'].hasError('required')" class="alert alert-danger">Il prezzo è richiesto</div>

        <div *ngIf="!myForm.valid" class="alert alert-danger">Il form non è valido</div>
        <button class="btn btn-success btn-block" type="submit">Aggiungi</button>
      </form>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <app-vegetables-list [verdure]="vegs"></app-vegetables-list>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
